services:
  db:
    image: mariadb:10.5
    container_name: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - {{ nextcloud_data_directory }}/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:?}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:?}
      - MYSQL_DATABASE=${MYSQL_DATABASE:?}
      - MYSQL_USER=${MYSQL_USER:?}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "--silent"]
      start_period: 5s
    networks:
      - default

  nextcloud:
    image: nextcloud:22.0.0-apache
    container_name: nextcloud
    restart: always
    volumes:
      - {{ nextcloud_data_directory }}/app_data:/var/www/html
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:?}
      - MYSQL_DATABASE=${MYSQL_DATABASE:?}
      - MYSQL_USER=${MYSQL_USER:?}
      - MYSQL_HOST=db
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/status.php"]
      start_period: 5s
    networks:
      - default
      - external_network

networks:
  external_network:
    driver: bridge
