- name: Ensure that Cockpit is installed
  ansible.builtin.package:
    name: cockpit
    state: present
  become: true

- name: Ensure that the config directory exists
  ansible.builtin.file:
    path: /etc/systemd/system/cockpit.socket.d
    state: directory
  become: true

- name: Configure Cockpit
  ansible.builtin.template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
  loop:
    - { src: cockpit.conf.j2, dest: /etc/cockpit/cockpit.conf }
    - { src: listen.conf.j2, dest: /etc/systemd/system/cockpit.socket.d/listen.conf }
  notify: Restart Cockpit
  become: true
