version: '2' #TODO

services:
  nginx:
    image: nginx:1.20.0
    container_name: nginx_proxy
    restart: always
    volumes:
      - {{ nginx_path }}/config/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ nginx_path }}/config/conf.d:/etc/nginx/conf.d
      - {{ ssl_cert_path }}:/etc/nginx/ssl
      - {{ nginx_logs }}:/var/log/nginx
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "{{ nginx_cockpit_external_port }}:{{ nginx_cockpit_external_port }}"
      - "{{ nginx_nextcloud_external_port }}:{{ nginx_nextcloud_external_port }}"
    networks:
      - nextcloud_external_network

networks:
  nextcloud_external_network:
    external: true
