[Unit]
Description=Nginx reverse proxy container service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ nginx_path }}

ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
