- name: Ensure Nextcloud directory exists
  ansible.builtin.file:
    path: "{{ nextcloud_path }}"
    state: directory
  become: true

- name: Copy Nextcloud configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: docker-compose.yml.j2, dest: "{{ nextcloud_path }}/docker-compose.yml" }
    - { src: .env.j2, dest: "{{ nextcloud_path }}/.env" }
    - { src: nextcloud.service.j2, dest: /etc/systemd/system/nextcloud.service }
  notify: Enable and restart Nextcloud
  become: true
