- name: Create directory for certs
  ansible.builtin.file:
    path: "{{ ssl_cert_path }}"
    state: directory
  become: true

- name: Copy certs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: "{{ nginx_cert_path }}", dest: "{{ ssl_cert_path }}/{{ cert_name }}.crt" }
    - { src: "{{ nginx_cert_key_path }}", dest: "{{ ssl_cert_path }}/{{ cert_name }}.key" }
  notify: Enable and restart Nginx
  become: true

- name: Create directories for configs
  ansible.builtin.file:
    path: "{{ nginx_path }}/config/conf.d"
    state: directory
  become: true

- name: Create directories for logs
  ansible.builtin.file:
    path: "{{ nginx_logs }}/{{ item }}"
    state: directory
  loop:
      - cockpit
      - nextcloud
  become: true

- name: Copy Nginx configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: docker-compose.yml.j2, dest: "{{ nginx_path }}/docker-compose.yml" }
    - { src: nginx.service.j2, dest: /etc/systemd/system/nginx.service }
  notify: Enable and restart Nginx
  become: true

- name: Copy main Nginx config
  ansible.builtin.copy:
    src: nginx.conf
    dest: "{{ nginx_path }}/config/nginx.conf"
  notify: Enable and restart Nginx
  become: true

- name: Copy Nginx configs for services
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ nginx_path }}/config/conf.d/{{ item | basename | regex_replace('\\.j2$', '') }}"
  loop:
    - conf.d/cockpit.conf.j2
    - conf.d/nextcloud.conf.j2
  notify: Enable and restart Nginx
  become: true
